body {
  /* background-color: rgb(41,40,40); */
  /* background-image: url(../src/whitewood.jpeg); */
  background-color: rgb(27, 26, 26);
  /* color: rgb(210, 210, 215); */

}

.tBody{
  color: yellow;
}

body {
  /* background-color: #ffffff; */
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.textC{
  color: azure;
}

.glowing-object {
  /* padding: 2px; */
  /* background-color: #333; */
  /* color: white; */
  /* display: inline-block; */
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}